<div class="layout-row" [formGroup]="dataForm">
  <section class="layout-column align-items-center justify-content-center" >
      <input type="text" data-test-id="app-input-name" required placeholder="Name" formControlName="name" />
      <input type="text" data-test-id="app-input-genre" required placeholder="Genre" formControlName="genre" />
      <input type="text" data-test-id="app-input-creator" required placeholder="Creator" formControlName="creator" />
      <form formGrounName="typeForm">
        <label><input class="radioButton" data-test-id="app-input-book-type" type="radio" name="type" [(ngModel)]="type" value="Book"  (click)="selectItemType('Book')"/>Book</label>
        <label><input class="radioButton" data-test-id="app-input-song-type" type="radio" name="type" [(ngModel)]="type" value="Song" (click)="selectItemType('Song')">Song</label>
      </form>
      <input data-test-id="app-input-time" type="number" placeholder="Total Time" formControlName="totalTime" *ngIf="dataForm.value.type === 'Song'"/>
  </section>
  <section class="layout-row justify-content-center align-items-center">
      <button data-test-id="add-button" class="w-30" (click)="onSubmit()">Add</button>
  </section>
</div>
